body {
  font-family: 'Secular One', sans-serif;
}
.navbar-container {
  margin: 20px 0;
  padding: 20px auto;
  border-bottom: 2px solid black;
 
}

.title {
  display: inline-flex;
  margin-left: 20px;
}

.title-img {
  height: 90px;
  margin: 10px;
}

.menu {
  float: right;
  padding: 15px 40px;
 }
 
 .menu select, option {
   font-family: 'Secular One', sans-serif;
   padding: 15px;
   font-size: 1.7rem;
   border: none;
   background-color: white;
   cursor: pointer;
 }
 
 .menu select:hover {
   background-color: lemonchiffon;
   border: 2px solid black;
   border-radius: 10px;
 }

.data-container {
  border: solid 2px black;
  border-radius: 10px;
  margin: 10px 33%;
  padding: 30px;
  text-align: center;
}

.data-container p {
  font-size: 1.3rem;
}


